#countlabel{
    text-align: center;
    font-size: 10em;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
#btncontainer{
    text-align: center;
}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.button:hover{
    background-color:aquamarine;
}
#body{
    background-color:darkorange;
}